.sidebar {
  padding: 10px;
  background-color: #f4f4f4;
}

/* h3 {
  margin-bottom: 15px;
} */

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
  background-color: #e0e0e0;
  margin-bottom: 5px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #ccc;
}