<div>{{conversion}}</div>
<button (click)="onConvert()">Convert</button>
<code-editor #editor
      [(ngModel)]="code"
      (ngModelChange)="onCodeChange($event)"
      [theme]="options.theme"
      [setup]="options.setup"
      [disabled]="options.disabled"
      [readonly]="options.readonly"
      [placeholder]="options.placeholder"
      [indentWithTab]="options.indentWithTab"
      [indentUnit]="options.indentUnit"
      [lineWrapping]="options.lineWrapping"
      [highlightWhitespace]="options.highlightWhitespace"
      [language]="options.language"
    ></code-editor>
